*{
    padding: 0;
    margin: 0;
    font-family: 'poppins';
}

body{
    padding: 10px;
    margin-left: .5rem;
    color: white;
}

.wrapper{
    width: 100%;
    height: 97vh;
    /* background-color: #ccc; */
    border: 1px solid transparent;

}

header{
    width: 97%;
    height: 60px;
    border: 1px solid transparent;
    background-color: #010066;
    margin-bottom: .5rem;
}

header p{
    text-align: center;
    margin-top: 1rem;
}

nav{
    width: 97%;
    height: 40px;
    border: 1px solid transparent;
    background-color: #26b4da;
    margin-bottom: .5rem;
}

nav p{
    text-align: center;
    padding: .5rem 0rem;
}

.section{
    margin-top: 2px;
    display: flex;
    width: 100%;
    height: 350px;
    gap: 2rem;
}

.main-container{
    width: 50%;
    height: 342px;
    margin-top: .1rem;
    border: 1px solid transparent;
    background-color: #fbad17;
}

.main-container p{
    text-align: center;
    padding: 10rem 0rem;
}

.sub-main-container{
    display: grid;
    grid-template-columns: 1fr 2fr ;
    width: 40%;
    margin: 2.5px 0px;
    height: 350px;
}

.container-1{
    width: 97%;
    height: 150px;
    border: 1px solid transparent;
    background-color: #81b598;
}

.container-1 p{
    text-align: center;
    padding: 4rem 0rem;
}

.container-2{
    width: 110%;
    height: 150px;
    margin-left: 1rem;
    border: 1px solid transparent;
    background-color: #f1b598;
}

.container-2 p{
    text-align: center;
    padding: 4rem 0rem;
}

.container-3{
    width: 330%;
    height: 180px;
    margin-top: 2px;
    border: 1px solid transparent;
    background-color: #303150;
}

.container-3 p{
    text-align: center;
    padding: 5rem 0rem;
}

footer{
    width: 94.7%;
    height: 59px;
    text-align: center;
    border: 1px solid transparent;
    position: fixed;
    padding-top: 3rem;
    margin: 3px 0px;
    background-color: #81b598;
}